<!DOCTYPE html>
<html>
<head>
	<title>Sarka's blog | Django girls</title>
</head>
<body>
<div>
	<h1>Django girls blog</h1>
</div>
<div>
	<p> Published: 27.10.2016, 12:16</p>
	<h2><a href="">My first post</a></h2>
	<p>n reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint </p>
</div>
<div>
	<p> Published: 27.10.2016, 12:17</p>
	<h2><a href="">My second post</a></h2>
	<p>n reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint </p>
</div>
<p>
Hello world!	
</p>

</body>
</html>